<h1>Список билетов</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Номер</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render current_user.tickets %>
  </tbody>
</table>

<p><%= button_to 'Найти билеты', search_path, method: :get %></p>

