<h1>Список билетов</h1>

<table>
  <thead>
    <tr>
      <th>Номер</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render current_user.tickets %>
  </tbody>
</table>

<%= link_to 'Поиск билетов', search_path %>
