<p>
  <strong>Количество верхних мест:</strong>
  <%= @wagon.upper_seats %>
</p>

<p>
  <strong>Количество нижних мест:</strong>
  <%= @wagon.lower_seats %>
</p>

<p>
  <strong>Количество верхних боковых мест:</strong>
  <%= @wagon.side_upper_seats %>
</p>

<p>
  <strong>Количество нижних боковых мест:</strong>
  <%= @wagon.side_lower_seats %>
</p>
