<% @train.wagons.each do |wagon| %>
  <% if wagon.variety == "Купейный" %>
    <% compartment_upper_seats += wagon.upper_seats.to_i %>
    <% compartment_lower_seats += wagon.lower_seats.to_i %>
  <% else %>
    <% reserved_upper_seats += wagon.upper_seats.to_i %>
    <% reserved_lower_seats += wagon.lower_seats.to_i %>
  <% end %>
<% end %>
<p>Купейных: <%= "#{compartment_upper_seats}/#{compartment_lower_seats}" %></p>
<p>Плацкартных: <%= "#{reserved_upper_seats}/#{reserved_lower_seats}" %></p>
