<h1>Список вагонов</h1>

<table>
  <thead>
    <tr>
      <th>Номер</th>
      <th>Тип</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <%= render partial: "wagon", collection: @wagons %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить вагон', new_admin_wagon_path %>
